<!-- <div class="card" style="max-width: 18rem;">
    <img src="http://via.placeholder.com/185x287" class="card-img-top" alt="movie title" style="width: 100%; height: auto;">
    <div class="card-body">
        <h4 class="card-title">Movie</h4>
        <p class="card-text">Some quick description</p>
        <a href="#" class="btn btn-primary">Rent</a>
    </div>
</div> -->

<div class="card">
    <img class="card-img-top" [src]="movie.getCover()" alt="{{movie.getName()}}" width="185" height="287">
    <div class="card-block">
      <h4 class="card-title">{{movie.getName()}}</h4>
      <p class="card-text">{{movie.getDescription()}}</p>
      <a href="#" class="btn btn-primary">Rent</a>
    </div>
</div>
